.header-container {
	position: fixed;
	top: 0;
	width: 100%;
	transition: 0.2s all ease-in-out;
	z-index: 10;
	.header-content {
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 45px;

		h1 {
			font-size: 1.5rem;
			letter-spacing: 0.5px;
			font-weight: 900;
		}
		.burger-menu {
			display: none;
		}
		.desctop-nav {
			display: inline-flex;
			ul {
				display: flex;
				gap: 25px;
				li {
					list-style: none;
					font-size: 18px;
					font-weight: 700;
					letter-spacing: 0.2px;
					transition: 0.3s all ease-in-out;
					&:hover {
						cursor: pointer;
						color: orange;
					}
					&:active {
						transform: scale(0.95);
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.header-container {
		// position: relative;
		.header-content {
			h1 {
			}
			.desctop-nav {
				display: none;
			}
			.burger-menu {
				display: block;
				.burger {
					width: 35px;
					height: 35px;
					display: flex;
					flex-direction: column;
					justify-content: center;

					gap: 6px;
					.bar {
						z-index: 50;

						width: 35px;
						height: 4px;
						border-radius: 10px;
						background-color: black;
						transition: 0.3s all ease-in-out;
					}
					.left-bar {
						transform: rotate(45deg);
						position: absolute;
					}
					.right-bar {
						transform: rotate(-45deg);
						position: absolute;
					}
					.hidden-bar {
						animation: hide-bar 0.3s ease-in-out both;
					}
				}
				.burger-menu-content {
					z-index: 11;
					background-color: rgb(221, 221, 221);
					width: 100%;
					position: fixed;
					// height: 0vh;
					top: -100%;
					left: 0;
					transition: 1s all ease-in-out;
					ul {
						display: flex;
						flex-direction: column;
						align-items: center;
						padding-top: 5rem;
						padding-bottom: 1rem;
						li {
							list-style: none;
							font-size: 18px;
							font-weight: 700;
							letter-spacing: 0.2px;
							width: 100%;
							text-align: center;
							padding: 1rem 0;
							transition: 0.2s all ease-in-out;
							&:active {
								color: orange;
							}
						}
					}
				}
				.open {
					top: 0;
					height: max-content;
					z-index: 40;
				}
			}
		}
	}
}

@keyframes hide-bar {
	0% {
		opacity: 1;
	}
	100% {
		transform: translateY(50%);
		opacity: 0;
	}
}
