.about-container {
  background: linear-gradient(0deg, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 15%, rgb(238, 238, 238) 85%, rgb(248, 248, 248) 100%);
  height: -moz-max-content;
  height: max-content;
  padding: 6rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.about-container .about {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.about-container .about .code-snippet {
  margin-left: 16px;
  position: relative;
}
.about-container .about .code-snippet__img {
  margin-top: 10px;
  width: 400px;
  height: 580px;
  border-radius: 15px;
  opacity: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 1px 1px 7px 0px #646464;
}
.about-container .about .code-snippet .rotating-text {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgb(238, 238, 238);
  filter: drop-shadow(1px 2px rgba(177, 177, 177, 0.356));
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translate(50%, 0);
}
.about-container .about .code-snippet .rotating-text .curved-text {
  position: absolute;
  width: 180px;
  animation: 9s infinite-rotate cubic-bezier(0.03, 0.04, 1, 0.99) infinite;
}
.about-container .about .code-snippet .rotating-text .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(-1px 1px gray);
}
.about-container .about__content {
  margin-right: 16px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-container .about__content h4 {
  font-size: 18px;
  font-weight: bold;
  color: orange;
  margin-bottom: 20px;
}
.about-container .about__content h5 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
}
.about-container .about__content .about__text {
  display: flex;
  flex-direction: column;
  transition: 1s all ease-in-out;
}
.about-container .about__content .about__text .part-1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #767676;
  margin-bottom: 10px;
  text-align: justify;
}
.about-container .about__content .about__text .part-2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.2;
  color: #767676;
  margin-bottom: 10px;
  text-align: justify;
}
.about-container .about__content .about__text .part-3 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
  color: #767676;
  text-align: justify;
}

@media (max-width: 1024px) {
  .about-container {
    padding: 6rem 0 2rem 0;
  }
  .about-container .about {
    flex-direction: column;
    align-items: center;
    margin: 0 32px;
    gap: 7rem;
  }
  .about-container .about .code-snippet {
    width: 60%;
  }
  .about-container .about .code-snippet img {
    width: 100%;
    height: auto;
  }
  .about-container .about .about__content {
    margin: 0 32px;
    width: 100%;
    align-items: center;
  }
  .about-container .about .about__content h5 {
    text-align: center;
  }
  .about-container .about .about__content .about__text {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .about-container .about {
    margin: 0 1rem;
  }
  .about-container .about .code-snippet {
    margin-left: 0;
    width: 100%;
  }
  .about-container .about .code-snippet .rotating-text {
    bottom: -40%;
  }
}
@keyframes infinite-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=about.css.map */