.hero-container {
  background: linear-gradient(0deg, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 15%, rgb(238, 238, 238) 85%, rgb(248, 248, 248) 100%);
}

.hero {
  box-sizing: border-box;
  padding: 10rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}
.hero .top__side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.hero .hero__content {
  max-width: 29rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero .hero__content h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  position: relative;
}
.hero .hero__content p {
  color: #767676;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}
.hero .hand {
  position: absolute;
  bottom: 0.3rem;
  right: 7.7rem;
  width: 50px;
  height: 50px;
  animation: 2.5s hand-shake infinite;
}
.hero .links {
  display: flex;
  gap: 5px;
}
.hero .links * {
  cursor: pointer;
  transition: 0.3s ease-out;
}
.hero .links *:hover {
  color: orange;
}
.hero .animation-container {
  height: 400px;
  width: 350px;
}
.hero .animation-container .hero__animation {
  width: 100%;
  height: 100%;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background-image: url("../assets/img1copy56/3d-illustration-classic-black-white-illusion-abstract-gradient-background-with-lines-modern-graphic-texture-geometric-pattern.jpeg");
  background-position: center;
  background-size: cover;
  animation: image-animation 16s cubic-bezier(0.43, 0.38, 0.43, 0.4) infinite;
}
.hero .hero__stack {
  margin-left: -70px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero .hero__stack .division {
  border: 1px solid black;
  border-radius: 10px;
  height: 20px;
}
.hero .hero__stack .technologies {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.hero .hero__stack .technologies .icon-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.568627451);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 7px 0px #c1c1c1;
}
.hero .hero__stack .technologies .icon-container > img {
  width: 30px;
  height: 30px;
  mix-blend-mode: darken;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    padding: 10rem 0 4rem 0;
  }
  .hero .top__side {
    flex-direction: column-reverse;
  }
  .hero .hero__stack {
    flex-direction: column;
    align-items: center;
    height: -moz-max-content;
    height: max-content;
    margin-left: 0;
  }
  .hero .hero__stack .division {
    width: 50px;
    height: 0px;
  }
  .hero .hero__stack .technologies {
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .hero .top__side {
    margin: 0 1rem;
  }
  .hero .top__side .hero__content {
    align-items: center;
  }
  .hero .top__side .hero__content h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .hero .top__side .hero__content h2 .hand {
    bottom: 0;
    right: 3vw;
  }
  .hero .top__side .hero__content p {
    text-align: center;
  }
  .hero .hero__stack .technologies {
    margin: 0 1rem;
    justify-content: center;
  }
  .hero .animation-container {
    height: 250px;
    width: 250px;
  }
}
@keyframes hand-shake {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes image-animation {
  0% {
    border-radius: 80% 20% 30% 70%/70% 30% 80% 40%;
    transform: rotate(0deg);
  }
  50% {
    border-radius: 20% 80% 70% 10%/10% 80% 20% 80%;
    transform: scale(0.9);
  }
  100% {
    border-radius: 80% 20% 30% 70%/70% 30% 80% 40%;
    transform: rotate(360deg) scale(1);
  }
}/*# sourceMappingURL=hero.css.map */